@charset "utf-8";
/* CSS Document */

.di{
	width: 200px;
}


.table_title{
	font-size: 23px;
	font-style: italic;
	font-display: block;
	font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.di{
	display: inline-block;
	margin: 30px;
}


.coil{
	display: inline-block;
	margin: 30px;
}


.wdata{
	display: inline-block;
	margin: 30px;
}


.log_table {
	color: aliceblue;
	background: #9A9595;
	align-content: center;
}

td {
	align-content: center;
	text-align: center
}

tr {
	text-align: center
}


.on_opt{
	background: #0D801A;
	color: aliceblue;
}


.off_opt{
	background: #AE0508;
	color: aliceblue;
}


.setbutt{
	background: #F33235;
	color: aliceblue;
}

.input{
	width: 500px;
/*	display: inline-block;*/
/*	flex-direction: row;*/
	
}


.setval_form{
	margin: 20px;
	display: table-cell;
}


.hint{
	width: 500px;
	display: flex;
	flex-direction: row;
	margin: 50px;
}
